.home{
    text-align: center;
    margin-top: 50px;
}
.home__header-bottom {
    border-bottom: 2px solid #06BC9B;
}

.home__priority_header {
    color: #1ba49c;
    font-size: 23px;
}

@media (min-width: 767.98px){
    .home__priority_header {
        color: #1ba49c;
        font-size: 30px;
    }
}
