.typewriter {
    display: block;
}

.typewriter-text {
    display: inline-block;
    height: 170px;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: normal;
    font-family: 'Klee One', cursive;
    border-right: 4px solid orange;
    text-align:center;
    width: 90%;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bolder;
    color: #1ba49c;
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
    100%{
        border: none;
    }
}
@media (min-width: 575.98px){
    .typewriter-text{
        font-size: 20px;
        font-weight: bolder;
        height: 110px;
    }
}

@media (min-width: 767.98px){
    .typewriter-text{
        font-size: 22px;
        white-space: nowrap;
    }
}

@media (min-width: 991.98px) {
    .typewriter-text{
        font-size: 25px;
        font-weight: bold;
        height: 165px;
    }
}

@media (min-width: 1199.98px){
    .typewriter-text{
        font-size: 30px;
    }
}