.html-css{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation-duration: 2s;
    animation-name: slidein;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


.center a{
    position: absolute;
    outline: none;
    border: none;
    color: white;
    background-color: #06BC9B;
    font-size: 25px;
    padding: 10px 15px;
    top: 50%;
    left: 50%;
    text-decoration: none;
    transform: translateY(400px);
    transition: transform 2s;
}

.center a:hover{
    background-color: #1ba49c;
}
.html-css:hover .center a{
    transform: translate(-50%, -50%);
}

.info-inst {
    position: absolute;
    max-width: 40%;
    color: white;
    background-color: #06BC9B;
    font-size: 14px;
    padding: 10px 15px;
    top: 82%;
    left: 50%;
    transform: translateX(-50%);
}

.info-inst:hover{
    background-color: #1ba49c;
}

@media (min-width: 575.98px){
    .info-inst{
        font-size: 16px;
    }
}
@media (min-width: 750px){
    .info-inst{
        text-align: center;
        font-size: 20px;
    }
}

.sliderBack{
    background-size: cover;
    background-repeat: no-repeat;
}

