.portfolio__title{
    text-align: center;
}
.back{
    margin: 30px auto 0;
    width: 100px;
    outline: none;
    border: none;
    color: white;
    background-color: #06BC9B;
    font-size: 25px;
    padding: 10px 15px;
}

.back:hover{
    background-color: #1ba49c;
}

.portfolio{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 85px;
}


.instruments {
    margin: 0;
    padding: 0 30px 0 0;
    list-style: none;
    height: 100%;
    width: 100%;
}

.instruments li {
    font-size: 14px;
    width: 45%;
    text-align: right;
    display: inline-block;
    margin-left: 11px;
    margin-bottom: 20px;
}

.show{
    width: 100%;
}

.portfolio .instruments a {
    color: rgba(82,93,104,.7);
    padding: 10px;
    transition: all 1.1s;
}
.portfolio .instruments .active {
    color: #1ba49c;
    transform: translateX(15px);
}
@media (min-width: 370px){
    .instruments li{
        text-align: center;
        width: 28%;
    }
}

@media (min-width: 575.98px){
    .instruments li{
        text-align: center;
        font-size: 16px;
    }
}

@media (min-width: 700px){
    .portfolio{
        flex-wrap: nowrap;
    }
    .instruments{
        max-width: 35%;
        border-right: 1px solid   #a3cccc;
    }

    .instruments li{
        margin-bottom: 10px;
        display: block;
        text-align: left;
    }

    .show{
        margin-left: 10px;
    }
}

@media (min-width: 1000px){
    .instruments {
        width: 20%;
    }
}

