
.about {
    margin-top: 120px;
}
.bio{
    max-width: 100%;
    padding-right: 10px;
    position: relative;
}

a{
    color: #111
}

.photo{
    display: block;
}

.photo img{
    width: 200px;
    height: 280px;
    object-fit: cover;
    filter: grayscale(100%) contrast(120%);
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
}

.photo:hover img{
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.photo .glow-wrap{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: -10px;
}

.photo .glow{
    display: block;
    position:absolute;
    width: 40%;
    height: 200%;
    background: rgba(255,255,255,.2);
    top: 0;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow{
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap{
    margin-top: 0;
}

h1{
    margin: 55px 0 0 55px;
    color: #06BC9B;
    position: absolute;
    z-index: 1;
    transform: translate(-25%, -65%);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}

.info{
    margin-top: 85px;
}

.skills{
    padding-left: 20px;
    text-align: center;
    width: 100%;
}

.skills div{
    color: white;
}
.skills ul{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 35px;
}
.main, .central, .instrumentsAbout{
    margin: 15px;
    border-top: 3px solid #06BC9B;
    border-radius: 5px;
    box-shadow: 0 30px 40px -20px hsl(229, 6%, 66%);
}


.main div, .central div, .instrumentsAbout div{
    background: #06BC9B;
    margin: 10px 15px;
    width: 85%;
    transition: all 1.1s;
}

.main:hover, .central:hover, .instrumentsAbout:hover{
    transform: translateX(8px);
    box-shadow: 0 0 0 0 hsl(229, 6%, 66%);
}

@media (min-width: 500px){
    .about {
        display: flex;
    }

}

@media (min-width: 500px){
    .bio {
        width: 50%;
    }
}

@media (min-width: 820px){
    .central div{
        width: 30%;
    }

    .instrumentsAbout div{
        width: 45%;
    }
    .main div{
        width: 30%;
    }
    .central{
        flex-wrap: wrap;
    }
    .skills{
        width: 70%;
    }
    .bio{
        border-right: 1px solid #06BC9B;
        max-width: 30%;
    }

    .main, .central, .instrumentsAbout{
        display: flex;
        justify-content: space-around;
    }
    .main div, .central div, .instrumentsAbout div{
        margin: 20px 0;
    }

}




