.priority{
    display: flex;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.priority__item{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #aaaaaa;
    background-color: #eee;
    margin: 10px;
}

.priority__item-header{
    color: #c2b490;
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 40px;
    height: 35%;
}

.priority__item span{
    height: 61px;
    display: block;
    position: relative;
    margin: 15px auto 43px;
}


.priority__item-text{
    color:#1ba49c;
    width: 100%;
    text-align: center;
}

.priority__item:hover{
    margin-top: -10px;
    background: #aaaaaa;
    border: 1px solid #eee;
}

.priority__item:hover h4{
    color: white;
}
.priority__item:hover p{
    color: white;
}

.d16 {
    margin: 20px 0;
    width: 100px;
    height: 55px;
    background: #06BC9B;
    position: relative;
}
.d16:before,
.d16:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}
.d16:before {
    top: -25px;
    border-bottom: 25px solid #06BC9B;
}
.d16:after {
    bottom: -25px;
    border-top: 25px solid #06BC9B;
}

.priority__item-header img{
    width: 50px;
    height: 50px;
    color: white;
}



@media (min-width: 575.98px){
    .priority__item{
        width: 45%;
    }
}
@media (min-width: 666px){
    .priority__item{
        width: 46%;
    }
}

@media (min-width: 767.98px){
    .priority__item-text{
        width: 80%;
        line-height: 20px;
    }
}

@media (min-width: 984.98px) {
    .priority{
        flex-wrap: nowrap;
        height: 320px;
        line-height: 34px;
    }
}


