.Toolbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 2px solid  #a3cccc;
    background-color: white;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}
.header {
    display: flex;
    flex-direction: row;
}
.bars{
    display: block;
    position: absolute;
    top: -18px;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
}

.toolbarActive{
    height: 300px;
}

.toolbarNotActive{
    height: 56px;
}
.marginActive{
    margin-bottom: 300px;
}

.marginNotActive{
    margin-bottom: 0;
}
.logoActive {
    position: absolute;
    top: 0;
    left: 0;
}

.logoNotActive{
    position: static;
}
@media screen and (min-width: 768px) {
    .bars{
        display: none;
        color: #fff;
    }
    .toolbarActive{
        height: 56px;
    }
    .marginActive{
        margin-bottom: 0;
    }
    .logoActive{
        position: static;
    }
}



.App-logo {
    height: 40px;
    width: 40px;
    pointer-events: none;
    margin-right: auto;
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}



@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.header__logo{
    width: 40%;
    padding: 15px 0 15px 10px;
}
.header__links{
    padding: 10px 0;
    width: 100%;
}

.header__links a{
    margin-left: 15px;
    text-decoration: none;
    color: rgba(82,93,104,.7);
    font-size: 16px;
}

.header__links .active{
    color:#1ba49c;
    font-weight: 400;
    border-bottom: 2px solid #06BC9B;
}




