*,
*::before,
*::after{
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px){
  .container {
    max-width: 1140px;
  }
}

.footer {
  background: #245963;
  padding-top: 14px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 40px;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer__top {
  vertical-align: top;
  max-width: 100%;
  margin: 0 auto;
}
.footer__mail {
  text-align: center;
  padding: 23px 0 10px;
}
.footer__phone {
  padding: 23px 1px 1px 64px;
}
@media screen and (min-width: 576px) {
  .footer__phone {
    padding-left: 22px;
  }
}
.footer__smedia {
  border-bottom:1px solid #387d89;
}
.footer .social-media {
  vertical-align: top;
}
.footer .social-media__list {
  list-style: none;
  padding-left: 6px;
  margin-left: 10px;
}
.footer .social-media__item {
  display: inline-block;
  margin-right: 13px;
}

.footer .social-media__item:hover {
  background-color: #387d89;
  border: 1px solid #245963;
}
.footer .social-media__link::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
}
.footer__border {
  position: relative;
}
@media screen and (min-width: 576px) {
  .footer__border::after {
    content: "";
  }
}
.footer__bottom {
  margin-top: 47px;
  text-align: center;
}

.web-info {
  font-size: 16px;
  color: #fff;
}
.web-info__text {
  color: #fdbd1f;
}


.footer .social-media__link ul, .info ul, .nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer .social-media__link ul li, .info ul li, .nav ul li {
  display: inline-block;
}

.row {
  justify-content: center;
}


.social-media__item img {
  width: 30px;
  height: 30px;
}


.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  padding: 0 15px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }

  .col-sm-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }

  .col-sm-3 {
    width: 25%;
    padding: 0 15px;
  }

  .col-sm-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }

  .col-sm-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }

  .col-sm-6 {
    width: 50%;
    padding: 0 15px;
  }

  .col-sm-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }

  .col-sm-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }

  .col-sm-9 {
    width: 75%;
    padding: 0 15px;
  }

  .col-sm-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }

  .col-sm-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }

  .col-sm-12 {
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (min-width: 940px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }

  .col-md-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }

  .col-md-3 {
    width: 25%;
    padding: 0 15px;
  }

  .col-md-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }

  .col-md-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }

  .col-md-6 {
    width: 50%;
    padding: 0 15px;
  }

  .col-md-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }

  .col-md-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }

  .col-md-9 {
    width: 75%;
    padding: 0 15px;
  }

  .col-md-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }

  .col-md-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }

  .col-md-12 {
    width: 100%;
    padding: 0 15px;
  }
}

