.NavigationItems {
    margin: 40px 20px 0 0;
    padding: 0;
    list-style: none;
    display: none;
    flex-flow: row;
    align-items: center;
    height: 45px;
    text-align: right;
}


@media screen and (min-width: 768px) {
    .NavigationItems{
        margin: 0;
        display: flex;
        justify-content: flex-end;
        height: 100%;
        text-align: center;
    }
}

.activeBlock{
    display: block;
}

.noActive{
    display: none;
}

@media screen and (min-width: 768px) {
    .activeBlock, .noActive{
        display: flex;
    }
}


